<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Thêm mới</h2>
<form action="/blogs/add" method="post" th:object="${blogs}">
    <!--    ID:-->
    <!--    <input th:field="*{id}" placeholder="Nhập id"><br>-->
    Tên sản phẩm:
    <input th:field="*{name}" placeholder="Nhập tên Blog"><br>
    Nội dung Blog:
    <input th:field="*{blog}" placeholder="Nhập nội dung"><br>
    <button>Lưu</button>
    <a th:href="@{/blogs}">Quay lại danh sách</a>
</form>
</body>
</html>