<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
    <th:block th:replace="~{common/template::library}"></th:block>
</head>
<body>
<div th:replace="~{common/template::header}"></div>

<h1 th:text="#{blog.list.title}">Blog List</h1>

<!-- Search form -->
<form action="/blogs" method="get">
    <input name="searchName" placeholder="Enter blog name" th:value="${searchName}">
    <button th:text="#{blog.search.button}">Search</button>
</form>

<!-- Add new blog -->
<button type="button"
        onclick="window.location.href='/blogs/add'"
        th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''EDITOR'')')}"
        th:text="#{blog.add.button}">Add New</button>

<!-- Blog table -->
<table border="1" style="width: 500px">
    <tr>
        <td th:text="#{blog.table.index}">No.</td>
        <td th:text="#{blog.table.name}">Blog Name</td>
        <td th:text="#{blog.table.title}">Title</td>
        <td th:text="#{blog.table.actions}">Actions</td>
    </tr>
    <tr th:each="blog, temp : ${blogPage.content}">
        <td th:text="${temp.index + 1}"></td>
        <td th:text="${blog.name}"></td>
        <td th:text="${blog.tittle}"></td>
        <td>
            <a th:href="@{/blogs/details/{id}(id=${blog.id})}" th:text="#{blog.details.link}">Details</a>
            <a th:href="@{/blogs/update/{id}(id=${blog.id})}"
               th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''EDITOR'')')}"
               th:text="#{blog.update.link}">Update</a>
        </td>
    </tr>
</table>

<!-- Pagination -->
<div style="margin-top: 15px;">
    <a th:if="${blogPage.hasPrevious()}"
       th:href="@{/blogs(page=${blogPage.number - 1},searchName=${searchName})}"
       th:text="#{pagination.prev}">Previous</a>
    <span th:unless="${blogPage.hasPrevious()}" style="color: gray; cursor: not-allowed;" th:text="#{pagination.prev}">Previous</span>

    <span th:text="${blogPage.number + 1}"></span>/<span th:text="${blogPage.totalPages}"></span>

    <a th:if="${blogPage.hasNext()}"
       th:href="@{/blogs(page=${blogPage.number + 1},searchName=${searchName})}"
       th:text="#{pagination.next}">Next</a>
    <span th:unless="${blogPage.hasNext()}" style="color: gray; cursor: not-allowed;" th:text="#{pagination.next}">Next</span>
</div>

<!-- Flash message -->
<p id="message" th:text="${message}"></p>

<script>
    setTimeout(function () {
        document.getElementById("message").style.display = "none";
    }, 3000)
</script>
<a th:href="@{/userInfo}">Back to user home</a>
</body>
</html>
